.FontStyle{text-align: center;color: #fff;font-size:12px;font-weight: 700;}
.MarkerHover{width: 57px;height: 27px;white-space:nowrap;line-height: 22px;background: url("../image/MarkerHover.png") no-repeat left 0;cursor:pointer;*background: none;*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../image/MarkerHover.png,sizingMethod='crop'");}
.MarkerActive{width: 59px;height: 29px;line-height: 22px;cursor:pointer;background: url("../image/MarkerActive.png") no-repeat left 0;*background: none;*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../image/MarkerActive.png',sizingMethod='crop');}
.markerA{position:absolute;height:40px;padding:0;color:#FFF;  cursor:pointer; text-align:center;background-image:url(../image/markerA.png);background-repeat:no-repeat;}
.markerA .marker_bgA{margin-left:10px;height:40px;line-height:28px;padding:0 5px 0 0;}
.marker_hoverA{z-index:4;background-image:url(../image/markerA.png); }
.marker_hoverA .marker_bgA{background-image:url(../image/markerAbg.png);background-repeat:no-repeat;background-position:right 0;}
.markerB{position:absolute;height:40px;padding:0;color:#FFF;  cursor:pointer; text-align:center;background-image:url(../image/markerB.png);background-repeat:no-repeat;}
.markerB .marker_bgB{margin-left:10px;height:40px;line-height:28px;padding:0 5px 0 0;}
.marker_hoverB{z-index:4;background-image:url(../image/markerB.png); }
.marker_hoverB .marker_bgB{background-image:url(../image/markerBbg.png);background-repeat:no-repeat;background-position:right 0;}
.markerC{position:absolute;height:40px;padding:0;color:#FFF;  cursor:pointer; text-align:center;background-image:url(../image/markerC.png);background-repeat:no-repeat;}
.markerC .marker_bgC{margin-left:10px;height:40px;line-height:28px;padding:0 5px 0 0;}
.marker_hoverC{z-index:4;background-image:url(../image/markerC.png); }
.marker_hoverC .marker_bgC{background-image:url(../image/markerCbg.png);background-repeat:no-repeat;background-position:right 0;}
.markerD{position:absolute;height:40px;padding:0;color:#FFF;  cursor:pointer; text-align:center;background-image:url(../image/markerD.png);background-repeat:no-repeat;}
.markerD .marker_bgD{margin-left:10px;height:40px;line-height:28px;padding:0 5px 0 0;}
.marker_hoverD{z-index:4;background-image:url(../image/markerD.png); }
.marker_hoverD .marker_bgD{background-image:url(../image/markerDbg.png);background-repeat:no-repeat;background-position:right 0;}
.MarkerActive{width: 59px;height: 29px;line-height: 22px;cursor:pointer;background: url("../image/MarkerActive.png") no-repeat left 0;*background: none;*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../image/MarkerActive.png',sizingMethod='crop');}
.m_pop{width: 405px;height: 232px;background: url("../image/MarkerPop.png") no-repeat 0 0;*background: none;*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../image/MarkerPop.png',sizingMethod='crop');cursor: default;}
.chart {width:76px;height: 120px;background:none #fff;border:1px solid #9a99ff;overflow:hidden;font-size:12px;}
.chart a, .chart span.tit, .chart span.tit_close{display:block;height:22px;line-height:25px;padding:0 0 0 5px;width:6em;color:#0001cF;text-decoration:none;background:none;}
.chart span.tit {background:url(image/b02.html) no-repeat right -123px #e8f5f6;display:block;cursor:pointer;}
.chart span.tit_close {background:url(image/b02.html) no-repeat right -157px #e8f5f6;display:block;cursor:pointer;}
.chart a:hover {background:#D9E1F6;}
.chart .b1, .chart .b2, .chart .b3, .chart .b4, .chart .b5, .chart .b6, .chart .b7, .chart .b8 {border:1px solid #acacac;padding:5px;_padding:4px 5px;float:left;margin:5px 5px 0 0;_margin:3px 3px 0 0;font-size:0px;}
.chart .b1 {background:#f91624;}
.chart .b2 {background:#3ea111;}
.chart .b3 {background:#2444fc;}
.chart .b4 {background:#BABABA;}
.chart .b5 {background:#ffa140;}
.chart .b6 {background:#a0cd8b;}
.chart .b7 {background:#bababa;}
.chart .b8 {background:#f3da2e;}
.markerA{position:absolute;height:40px;padding:0;color:#FFF;   cursor:pointer; text-align:center;background-image:url(../image/markerA.png);background-repeat:no-repeat;}
.markerA .marker_bgA{margin-left:10px;height:40px;line-height:28px;padding:0 5px 0 0;white-space:nowrap;}
.marker_hoverA{z-index:400;background-image:url(../image/markerA.png); }
.marker_hoverA .marker_bgA{background-image:url(../image/markerAbg.png);background-repeat:no-repeat;background-position:right 0;}
.markerB{position:absolute;height:40px;padding:0;color:#FFF;  cursor:pointer; text-align:center;background-image:url(../image/markerB.png);background-repeat:no-repeat;}
.markerB .marker_bgB{margin-left:10px;height:40px;line-height:28px;padding:0 5px 0 0;white-space:nowrap;}
.marker_hoverB{z-index:4;background-image:url(../image/markerB.png); }
.marker_hoverB .marker_bgB{background-image:url(../image/markerBbg.png);background-repeat:no-repeat;background-position:right 0;}
.markerC{position:absolute;height:40px;padding:0;color:#FFF;  cursor:pointer; text-align:center;background-image:url(../image/markerC.png);background-repeat:no-repeat;}
.markerC .marker_bgC{margin-left:10px;height:40px;line-height:28px;padding:0 5px 0 0;white-space:nowrap;}
.marker_hoverC{z-index:4;background-image:url(../image/markerC.png); }
.marker_hoverC .marker_bgC{background-image:url(../image/markerCbg.png);background-repeat:no-repeat;background-position:right 0;}
.markerD{position:absolute;height:40px;padding:0;color:#FFF;  cursor:pointer; text-align:center;background-image:url(../image/markerD.png);background-repeat:no-repeat;}
.markerD .marker_bgD{margin-left:10px;height:40px;line-height:28px;padding:0 5px 0 0;white-space:nowrap;}
.marker_hoverD{z-index:4;background-image:url(../image/markerD.png); }
.marker_hoverD .marker_bgD{background-image:url(../image/markerDbg.png);background-repeat:no-repeat;background-position:right 0;}
